body{
    background-color: #121216;
}

/* 네브바 상단*/
.navbar-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
}

.navbar-top-left{
    display: flex;
    align-items: center;
}

.navbar-top-logo{
    font-size: 35px;
    margin-left: 30px;
    transition: 0.3s;
}

.navbar-top-logo:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.navbar-top-store-name{
    margin-top: 10px;
    margin-left: 30px;
    transition: 0.3s;
}

.navbar-top-store-name:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
    
}

.navbar-top-right{
    display: flex;
    align-items: center;
    margin-right: 30px;
}

/* 장바구니 영역 */
.navbar-cart-area{
    display: flex;
    margin-right: 10px;
    position: relative;
}

.navbar-cart-button{
    margin-right: 20px;
    font-size: 20px;
}

.navbar-cart-num{
    position:absolute;
    font-size: 14px;
    background-color: #26BBFF;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    right: 10px;
    top: -10px;
}

.navbar-cart-button:hover{
    color: #bfbfce;
    cursor: pointer;
}

/* 로그인 버튼 영역 */

.navbar-top-login-button{
    color: white;
    background-color: #353539;
    border-radius: 5px;
    border-style: none;
    width: 85px;
    height: 35px;
    font-size: 15px;
}

.navbar-top-login-button:hover{
    background-color: #49494e;
    cursor: pointer;
}