.carousel-container{
    margin-bottom: 100px;
}

/* 캐러셀 메인 */
.carousel-main{
    display: flex;
    justify-content: center;
    position: relative;
}

.carousel-main-img{
    border-radius: 10px;
    filter: brightness(0.85);
}

.carousel-main-img:hover{
    cursor: pointer;
}

.carousel-main-info{
    position: absolute; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 450px;
}

.main-title {
    margin-top: 300px;
    font-size: 25px;
    width: 430px;
}

.main-price-info{
    width: 430px;
    margin-top: 10px;
}

.main-original-price{
    text-decoration: line-through;
    color: #c5c5c5;
    font-size: 15px;
    margin-right: 10px;
}
.main-discounted-price{
    font-size: 16px;
    font-weight: bold;
}

/* 캐러셀 서브 */

.carousel-sub-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    transition: 0.3s;
    border-radius: 10px;
}

.carousel-sub-container:hover{
    background-color: #e2e2e254;
    cursor: pointer;
    border-radius: 10px;
}
.carousel-sub-container.selected {
    background-color: #838383; 
}

.carousel-sub-img{
    width: 20%;
    height: auto;
    border-radius: 10px;
}

.carousel-sub-title{
    margin-left: 50px;
}

