/* 네브바 하단 */
.navbar-bottom{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.search-container {
    position: relative;
}

.search-icon {
    position: absolute;
    left: 10px; 
    top: 50%; 
    transform: translateY(-50%);
    color: white;
}

.navber-search-bar{
    background-color: #202024;
    border-style: none;
    padding: 5px 5px 5px 35px; 
    border-radius: 20px;
    color: white;
    caret-color: white;
}

.navber-search-bar:hover{
    background-color: #3d3d44;
}

.navber-search-bar:focus{
    background-color: #3d3d44;
    outline: none; 
}

.navbar-category-item{
    font-size: 13px;
    margin: 15px;
    color: #a5a5b1;
    transition: 0.3s
}

.navbar-category-item:hover{
    color: white;
    cursor: pointer;
}