.home-loading-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 100px;
}

.home-loading{
    width: 100px;
    height: 100px;
}

.home-loading-text{
    font-size: 20px;
}